<?xml version="1.0" encoding="utf-8"?>
<pnx:Acl>
    <pnx:AclService name="archivio-storico" default="false">
        <pnx:AclAction name="new" allowGroups="1,2,3" allowUsers="" />
        <pnx:AclAction name="edit" allowGroups="1,2,3" allowUsers="" />
        <pnx:AclAction name="view" allowGroups="1,2,3" allowUsers="" />
        <pnx:AclAction name="delete" allowGroups="1,2,3" allowUsers="" />
    </pnx:AclService>
</pnx:Acl>